body {
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  background-color: gray;
}

#top{
  padding-top: 200px;
  border-radius: 15px;
  background-image: url("/Users/dieterstach/Desktop/Coding_Projects/Realm_6/Resources/images/cover.jpg");
  background-size: cover;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  font-size: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: black;
    color: gold;
    padding: 20px 30px;
}

.dropdown a {
  color: gold;
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
