@import url(https://fonts.googleapis.com/css?family=Enriqueta);

body {
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
  background-color: black;
}

.cover {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: -1;
  overflow: hidden;
}

.cover img {
  border-radius: 0.5rem;
}

#top{
  color: gold;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.1px;
  font-family: Enriqueta;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

#nav-bar {
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

#origin {
  margin: auto;
  font-weight: bold;
  background-color: darkgray;
  border-radius: 25px;
  width: 300px;
  height: 250px;
  padding: 5px 20px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.overview {
  text-align: center;
}

.open-line {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: black;
    color: gold;
    transition-property: background-color;
    transition-duration: 1s;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 0 1px;
}

.dropdown:hover {
  background-color: gold;
  color: black;
}

.dropdown a {
  color: gold;
  text-decoration: none;
}

.dropdown a:hover {
  color: black;
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: gold;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content p {
  border-bottom: 1px solid gold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bottom-banner {
  font-family: Enriqueta, Helvetica, serif;
  color: gold;
  background-color: black;
  margin-bottom: 0;
  border-radius: 10px;
}

.copyright {
  font-size: 12px;
  background-color: black;
  color: gold;
  margin-bottom: 2px;
  margin: 0;
}

h1 {
  margin-bottom: 4px;
}
