body {
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
}

#header{
  padding-top: 200px;
  background-color: gold;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: black;
    color: gold;
    padding: 20px 30px;
}

.dropdown a {
  color: gold;
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
